<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a blog page with a list of posts.">

    <title>Jhao104 Blog</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
    <link rel="stylesheet" href="/static/css/blog.css">
    <link rel="stylesheet" href="/static/css/monokai.css">

</head>
<body>
<div id="div1" style="position: fixed; top: 0; left: 0; bottom: 0; right: 0; z-index: 100">
    <canvas id="canvas">Canvas is not supported in your browser.</canvas>
</div>
<div id="layout" class="pure-g">
        <div class="sidebar pure-u-1 pure-u-md-1-5" style="z-index: 200">
        <div class="header">
            <h1 class="brand-title"><a href="{% url "home" %}">j_hao blog</a> </h1>
            <h2 class="brand-tagline">	Good memory as bad written.</h2>
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="button-success pure-button" href="/">主页</a>
                    </li>
                    <li class="nav-item">
                        <a class="button-success pure-button" href="{% url "article:archives" %}">归档</a>
                    </li>
                    <li class="nav-item">
                        <a class="button-success pure-button" href="/">专题</a>
                    </li>
                    <li>
                        <form class="pure-form" action="{% url "article:search" %}" method="get">
                            <input class="pure-input-3-3" type="text" name="s" placeholder="search">
                        </form>
                    </li>
                    <li class="nav-item">
                        <a class="button-success pure-button" href="{% url "article:about_me" %}">About Me</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="content pure-u-1 pure-u-md-3-5" style="z-index: 300">
        <div>
            {% block content %}
            {% endblock %}

            <div class="footer">
                <div class="pure-menu pure-menu-horizontal pure-menu-open">
                    <ul>
                        <li><a href="{% url "article:about_me" %}">About Me</a></li>
                        <li><a href="https://my.oschina.net/jhao104" target="_blank">blog</a></li>
                        <li><a href="https://github.com/jhao104/django-blog" target="_blank">GitHub</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="box pure-u-1 pure-u-md-1-5">
{#            <p>123</p>#}

        </div>
</div>

</body>
<script type="text/javascript" src="/static/js/fireworks.js"></script>
</html>