{% extends "article/base.html" %}
{% load custom_markdown %}

{% block content %}
<div class="posts">
    <section class="post">
        <header class="post-header">
            <h2 class="post-title">{{ post.title }}</h2>

            <p class="post-meta">
                Time: <a class="post-author" href="#">{{ post.date_time|date:"Y /m /d" }}</a> <a class="post-category post-category-js" href="{% url "article:search_tag" post.category %}">{{ post.category }}</a>
            </p>
        </header>

        <div class="post-description">
            <p>
                {{ post.content | custom_markdown}}
            </p>
        </div>
    </section>
{% include "article/duoshuo.html" %}
</div>
{% endblock %}