<footer>
    <!--底部导航-->
    <div class="foot-nav">
        <div class="copy-right"><span>CopyRight &#169; 2015-2016 晓晓博客 &#160;&#160;&#160;     Design by 晓晓</span></div>
        <div class="bottom-nav">
{#            <span><a href="Map/Sitemap.html" target="_blank">百度地图</a>-<a href="Map/Sitemap.xml" target="_blank">谷歌地图</a>-<a>#}
{#                <script src="http://s11.cnzz.com/z_stat.php?id=1256669742&web_id=1256669742"#}
{#                        language="JavaScript"></script>#}
            </a>-<a href="http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action"> 浙ICP备16003960号</a></span>
        </div>
    </div>
    <div id="toTop">Back to Top</div>
    <script>
    </script>


</footer>