<!DOCTYPE html>
<html class=" js csstransitions">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Black &amp; White</title>

    <!-- meta -->

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="/static/css/markdown.css">

    <!-- js -->
</head>

<div class="container" >
    <header id="site-header">
        <div class="row">
            <div class="col-md-4 col-sm-5 col-xs-8">
                <div class="logo">
                    <h1><a href="#"><b>Black</b> &amp; White</a>
                    </h1>
                </div>
            </div><!-- col-md-4 -->
            <div class="col-md-8 col-sm-7 col-xs-4">
                <nav class="main-nav" role="navigation">

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="cl-effect-11"><a href="/blog"
                                                        data-hover="Home">Home</a></li>
                            <li class="cl-effect-11"><a
                                    href="/blog"
                                    data-hover="Blog">Blog</a></li>
                            <li class="cl-effect-11"><a href="#"
                                                        data-hover="About">About</a></li>
                            <li class="cl-effect-11"><a
                                    href=""
                                    data-hover="Contact">Contact</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
            </div><!-- col-md-8 -->
        </div>
    </header>
</div>

<div class="content-body">
    <div class="container">
        <div class="row">
            <main class="col-md-8" id="article">
                <article class="post post" >
                    <header class="entry-header">
                        <h1 class="entry-title">
                            <a href="#">Adaptive Vs. Responsive
                                Layouts And Optimal Text Readability</a>
                        </h1>
                        <div class="entry-meta">
                            <span class="post-category"><a
                                    href="#">Web
                                Design</a></span>

                            <span class="post-date"><a href="#">
                                <time class="entry-date" datetime="2012-11-09T23:15:57+00:00">February 2, 2013</time>
                            </a></span>

                            <span class="post-author"><a
                                    href="#">Albert Einstein</a></span>

                            <span class="comments-link"><a
                                    href="#">4
                                Comments</a></span>
                        </div>
                    </header>
                    <div class="entry-content clearfix">
                        <p>Responsive web design offers us a way forward, finally allowing us to design for the ebb and
                            flow of things. There are many variations of passages of Lorem Ipsum available, but the
                            majority have suffered alteration in some form, by injected humour, or randomised words
                            which don’t look even slightly.</p>
                        <div class="read-more cl-effect-14">
                            <a href="#" class="more-link">Continue
                                reading <span class="meta-nav">→</span></a>
                        </div>
                    </div>
                </article>

                <article class="post post">
                    <header class="entry-header">
                        <h1 class="entry-title">
                            <a href="#">Adaptive Vs. Responsive
                                Layouts And Optimal Text Readability</a>
                        </h1>
                        <div class="entry-meta">
                            <span class="post-category"><a
                                    href="#">Web
                                Design</a></span>

                            <span class="post-date"><a href="#">
                                <time class="entry-date" datetime="2012-11-09T23:15:57+00:00">February 2, 2013</time>
                            </a></span>

                            <span class="post-author"><a
                                    href="#">Albert Einstein</a></span>

                            <span class="comments-link"><a
                                    href="#">4
                                Comments</a></span>
                        </div>
                    </header>
                    <div class="entry-content clearfix">
                        <p>Responsive web design offers us a way forward, finally allowing us to design for the ebb and
                            flow of things. There are many variations of passages of Lorem Ipsum available, but the
                            majority have suffered alteration in some form, by injected humour, or randomised words
                            which don’t look even slightly.</p>
                        <div class="read-more cl-effect-14">
                            <a href="#" class="more-link">Continue
                                reading <span class="meta-nav">→</span></a>
                        </div>
                    </div>
                </article>

                <article class="post post-3">
							<header class="entry-header">
								<h1 class="entry-title">
									<a href="http://demo.cssmoban.com/cssthemes3/twts_3_ev/single.html">Adaptive Vs. Responsive Layouts And Optimal Text Readability</a>
								</h1>
								<div class="entry-meta">
									<span class="post-category"><a href="http://demo.cssmoban.com/cssthemes3/twts_3_ev/index.html#">Web Design</a></span>

									<span class="post-date"><a href="http://demo.cssmoban.com/cssthemes3/twts_3_ev/index.html#"><time class="entry-date" datetime="2012-11-09T23:15:57+00:00">February 2, 2013</time></a></span>

									<span class="post-author"><a href="http://demo.cssmoban.com/cssthemes3/twts_3_ev/index.html#">Albert Einstein</a></span>

									<span class="comments-link"><a href="http://demo.cssmoban.com/cssthemes3/twts_3_ev/index.html#">4 Comments</a></span>
								</div>
							</header>
							<div class="entry-content clearfix">
								<p>Responsive web design offers us a way forward, finally allowing us to design for the ebb and flow of things. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly.</p>
								<div class="read-more cl-effect-14">
									<a href="http://demo.cssmoban.com/cssthemes3/twts_3_ev/index.html#" class="more-link">Continue reading <span class="meta-nav">→</span></a>
								</div>
							</div>
						</article>

						<article class="post post-4">
							<header class="entry-header">
								<h1 class="entry-title">
									<a href="http://demo.cssmoban.com/cssthemes3/twts_3_ev/single.html">Adaptive Vs. Responsive Layouts And Optimal Text Readability</a>
								</h1>
								<div class="entry-meta">
									<span class="post-category"><a href="http://demo.cssmoban.com/cssthemes3/twts_3_ev/index.html#">Web Design</a></span>

									<span class="post-date"><a href="http://demo.cssmoban.com/cssthemes3/twts_3_ev/index.html#"><time class="entry-date" datetime="2012-11-09T23:15:57+00:00">February 2, 2013</time></a></span>

									<span class="post-author"><a href="http://demo.cssmoban.com/cssthemes3/twts_3_ev/index.html#">Albert Einstein</a></span>

									<span class="comments-link"><a href="http://demo.cssmoban.com/cssthemes3/twts_3_ev/index.html#">4 Comments</a></span>
								</div>
							</header>
							<div class="entry-content clearfix">
								<p>Responsive web design offers us a way forward, finally allowing us to design for the ebb and flow of things. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly.</p>
								<div class="read-more cl-effect-14">
									<a href="http://demo.cssmoban.com/cssthemes3/twts_3_ev/index.html#" class="more-link">Continue reading <span class="meta-nav">→</span></a>
								</div>
							</div>
						</article>
            </main>
            <aside class="col-md-4" id="aside" style="position: fixed; right: 0">
                <div class="widget widget-recent-posts">
                    <h3 class="widget-title">Recent Posts</h3>
                    <ul>
                        <li>
                            <a href="#">Adaptive Vs. Responsive
                                Layouts And Optimal Text Readability</a>
                        </li>
                        <li>
                            <a href="#">Web Design is 95%
                                Typography</a>
                        </li>
                        <li>
                            <a href="#">Paper by FiftyThree</a>
                        </li>
                    </ul>
                </div>
                <div class="widget widget-archives">
                    <h3 class="widget-title">Archives</h3>
                    <ul>
                        <li>
                            <a href="#">November 2014</a>
                        </li>
                        <li>
                            <a href="#">September 2014</a>
                        </li>
                        <li>
                            <a href="#">January 2013</a>
                        </li>
                    </ul>
                </div>

                <div class="widget widget-category">
                    <h3 class="widget-title">Category</h3>
                    <ul>
                        <li>
                            <a href="#">Web Design</a>
                        </li>
                        <li>
                            <a href="#">Web Development</a>
                        </li>
                        <li>
                            <a href="#">SEO</a>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>
    </div>
</div>

<footer id="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="copyright">© 2014 ThemeWagon.com -More Templates <a href="#"
                                                                              target="_blank" title="模板之家">模板之家</a> -
                    Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>