<header id="site-header">
    <div class="row">
        <div class="col-md-4 col-sm-5 col-xs-8">
            <div class="logo">
                <h1><a href="#"><b>Memory</b> &amp; Write</a>
                </h1>
            </div>
        </div><!-- col-md-4 -->
        <div class="col-md-8 col-sm-7 col-xs-4">
            <nav class="main-nav" role="navigation">

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="cl-effect-11"><a href="/blog"
                                                    data-hover="Home">Home</a></li>
                        <li class="cl-effect-11"><a
                                href="/blog"
                                data-hover="Blog">Blog</a></li>
                        <li class="cl-effect-11"><a
                                href="{% url 'article:archives' %}"
                                data-hover="Archives">Archives</a></li>
                        <li class="cl-effect-11"><a href="#"
                                                    data-hover="About">About</a></li>

                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav>
        </div><!-- col-md-8 -->
    </div>
</header>