<!DOCTYPE html>
<html class=" js csstransitions">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{ title|safe }}</title>

    <!-- meta -->

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/static/images/favicon.ico"/>
    <link rel="bookmark" href="/static/images/favicon.ico"/>

    <!-- css -->
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="/static/css/markdown.css">

    <!-- js -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/func.js"></script>

    {% block jsblock %}
    {% endblock %}


</head>
<body>

    <div class="container" id="container">
        <!-- 导航栏 -->
        {% include "article/header.html" %}
    </div>

    <div class="content-body">
        <!-- 正文部分 -->
        <div class="container">
            <div class="article">
                {% block content %}
                {% endblock %}
            </div>
            <div class="menu">
                {% block menu %}
                {% endblock %}
            </div>
        </div>
    </div>

    <p id="back-to-top"><a href="#container"><span></span>回到顶部</a></p>

    {% include "article/footer.html" %}
    <!-- footer -->


</body>


<script language="javascript" type="text/javascript">
    backToTop();
    {% block jsfunc %}
    {% endblock %}

</script>
{% block js %}
{% endblock %}
</html >